# Ignore folders
.github
.git
node_modules
.vscode
docs
# Ignore files
.env
.env.local
.env.*.local
pnpm-lock.yaml
cli.js # Only if you're not exposing CLI directly; otherwise, KEEP it!
*.log
.DS_Store
